svg {
	display: block;
	margin: auto;
}

/*text {
	font-family: 'Avenir Next';
	font-size: 14px;
}*/

.wrapper {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.head {
	text-align:center;
	width: 1440px;
}
.headline {
	display:inline-block;
	text-align: center;
	margin-top: 5%;
	width: 650px;

}

h1 {
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 40px;
	text-align: center;

}

h2 {
	font-family: 'Helvetica Neue';
	color: grey;
	font-size: 20px;
	text-align: center;

}

h3 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
h4 {
	font-family: 'Avenir Next';
	font-size: 14px;

}


h5 {
	text-align: center;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}


.content {
 	margin-top: 30px;
}
.article {
	width: 1440px;
	display: inline-block;
	text-align: center;
}

.graph {
	display: block;
	text-align: center;
	margin-bottom: 30px;
  	margin: 0 auto;
}

.graphholder {
	margin-top: 30px;
	
}
p {
	font-family: Garamond;
	font-size: 16px;
	text-align: left;
	display: inline-block;
	padding-left: 460px;
	padding-right: 460px;
	margin-bottom: 20px;
}

 :root {
      --accent-color: #E8336D;
    }
path.line {
    fill: none;
 	stroke: steelblue;
    stroke-width: 1px;
 }

.annotation path {
  stroke: var(--accent-color);
  fill: none;
}

.annotation path.connector-arrow, 
.title text, .annotation text,
.annotation.callout.circle .annotation-subject path{
  fill: var(--accent-color);
}
.annotation-note-bg {
  fill: rgba(255, 255, 255, 0);
}

.annotation-note-title {
  font-weight: bold;
}

.annotation.xythreshold {
  cursor: move;
}


path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .25px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
}